*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#071330;
    color:white;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:800px;

    background:#0b1d46;

    padding:30px;
    border-radius:20px;

    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

header{
    text-align:center;
    margin-bottom:30px;
}

.search-section{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.search-section input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

.search-section button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#00c2ff;
    color:white;
    font-weight:bold;
}

.weather-card{
    background:#10275d;
    padding:25px;
    border-radius:15px;
}

.weather-card h2{
    margin-bottom:10px;
}

.weather-card h3{
    font-size:40px;
    margin-bottom:10px;
}

.weather-card p{
    margin:8px 0;
}